# Day 17
# Date 12 June 19

# LOGISTIC REGRESSION

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
claimants = pd.read_csv('claimants.csv')

In [4]:
claimants.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [5]:
claimants3 = claimants.drop(("CASENUM"),axis = 1, inplace = False)
claimants3.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [6]:
claimants2 = claimants.drop(claimants.index[[2]] , axis = 0)
claimants2.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038
5       97         0     1.0       1.0       0.0    35.0   0.309

In [7]:
claimants.describe()

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS
count,1340.000000,1340.000000,1328.000000,1299.000000,1292.000000,1151.000000,1340.000000
mean,11202.001493,0.488806,0.558735,0.907621,0.017028,28.414422,3.806307
std,9512.750796,0.500061,0.496725,0.289671,0.129425,20.304451,10.636903
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4177.000000,0.000000,0.000000,1.000000,0.000000,9.000000,0.400000
50%,8756.500000,0.000000,1.000000,1.000000,0.000000,30.000000,1.069500
75%,15702.500000,1.000000,1.000000,1.000000,0.000000,43.000000,3.781500
max,34153.000000,1.000000,1.000000,1.000000,1.000000,95.000000,173.604000

In [8]:
claimants.isnull().sum()       #finding missing values in the dataset

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [9]:
claimants.CLMAGE.value_counts().index[0]

10.0

In [10]:
claimants=claimants.iloc[:,:].apply(lambda x:x.fillna(x.value_counts().index[0]))
claimants.isnull().sum()

CASENUM     0
ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [11]:
import statsmodels.formula.api as smf
logit_model = smf.logit("ATTORNEY ~ CLMSEX + CLMINSUR + SEATBELT + CLMAGE + LOSS", data = claimants).fit()

Optimization terminated successfully.
         Current function value: 0.610149
         Iterations 7

In [12]:
logit_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               ATTORNEY   No. Observations:                 1340
Model:                          Logit   Df Residuals:                     1334
Method:                           MLE   Df Model:                            5
Date:                Thu, 13 Jun 2019   Pseudo R-squ.:                  0.1194
Time:                        10:22:53   Log-Likelihood:                -817.60
converged:                       True   LL-Null:                       -928.48
                                        LLR p-value:                 6.224e-46
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.0744      0.223     -0.334      0.738      -0.511       0.362
CLMSEX         0.3150      0.120      2.633      0.008       0.081       0.549
CLMINSUR       0.5419      0.210      2.583      0.010       0.131       0.953
SEATBELT      -0.6924      0.523     -1.324      0.186      -1.717       0.333
CLMAGE         0.0037      0.003      1.240      0.215      -0.002       0.010
LOSS          -0.3204      0.029    -10.884      0.000      -0.378      -0.263
==============================================================================
"""

In [13]:
m1 = smf.logit("ATTORNEY ~SEATBELT + CLMAGE  " , data = claimants).fit()
m1.summary()

Optimization terminated successfully.
         Current function value: 0.691122
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               ATTORNEY   No. Observations:                 1340
Model:                          Logit   Df Residuals:                     1337
Method:                           MLE   Df Model:                            2
Date:                Thu, 13 Jun 2019   Pseudo R-squ.:                0.002561
Time:                        10:22:53   Log-Likelihood:                -926.10
converged:                       True   LL-Null:                       -928.48
                                        LLR p-value:                   0.09276
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0151      0.090      0.168      0.867      -0.161       0.192
SEATBELT      -0.9556      0.482     -1.983      0.047      -1.900      -0.011
CLMAGE        -0.0018      0.003     -0.638      0.524      -0.007       0.004
==============================================================================
"""

In [22]:
import statsmodels.formula.api as smf
logit_model = smf.logit("ATTORNEY ~ CLMSEX + CLMINSUR + SEATBELT +  LOSS", data = claimants).fit()
logit_model.summary()

Optimization terminated successfully.
         Current function value: 0.610725
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               ATTORNEY   No. Observations:                 1340
Model:                          Logit   Df Residuals:                     1335
Method:                           MLE   Df Model:                            4
Date:                Thu, 13 Jun 2019   Pseudo R-squ.:                  0.1186
Time:                        10:28:25   Log-Likelihood:                -818.37
converged:                       True   LL-Null:                       -928.48
                                        LLR p-value:                 1.682e-46
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0047      0.213      0.022      0.983      -0.413       0.422
CLMSEX         0.3113      0.120      2.605      0.009       0.077       0.546
CLMINSUR       0.5522      0.210      2.635      0.008       0.141       0.963
SEATBELT      -0.7125      0.523     -1.361      0.173      -1.738       0.313
LOSS          -0.3158      0.029    -10.840      0.000      -0.373      -0.259
==============================================================================
"""

In [14]:
from sklearn.linear_model import LogisticRegression

In [16]:
claimants.head(1)

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE   LOSS
0        5         0     0.0       1.0       0.0    50.0  34.94

In [19]:
y_pred1 = logit_model.predict(claimants)
y_pred1

0       0.000026
1       0.505625
2       0.593992
3       0.469851
4       0.638205
5       0.693063
6       0.346967
7       0.342055
8       0.674143
9       0.596954
10      0.256864
11      0.003463
12      0.489019
13      0.671848
14      0.705815
15      0.563979
16      0.727805
17      0.608653
18      0.617451
19      0.354688
20      0.404367
21      0.708228
22      0.005998
23      0.594990
24      0.072608
25      0.632184
26      0.656488
27      0.583645
28      0.619496
29      0.577932
          ...
1310    0.655256
1311    0.261406
1312    0.021499
1313    0.620767
1314    0.612877
1315    0.535789
1316    0.556613
1317    0.345491
1318    0.689443
1319    0.586680
1320    0.656318
1321    0.355192
1322    0.681493
1323    0.282276
1324    0.168234
1325    0.450375
1326    0.642971
1327    0.707366
1328    0.596700
1329    0.675810
1330    0.168933
1331    0.619959
1332    0.693430
1333    0.657201
1334    0.694909
1335    0.579417
1336    0.442146
1337    0.710276
1338    0.321398
1339    0.662473
Length: 1340, dtype: float64

In [23]:
claimants["pred_prob"] = y_pred1
claimants.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS  pred_prob
0        5         0     0.0       1.0       0.0    50.0  34.940   0.000026
1        3         1     1.0       0.0       0.0    18.0   0.891   0.505625
2       66         1     0.0       1.0       0.0     5.0   0.330   0.593992
3       70         0     0.0       1.0       1.0    31.0   0.037   0.469851
4       96         1     0.0       1.0       0.0    30.0   0.038   0.638205

In [25]:
claimants["PValue"] = 0
claimants.head()

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,pred_prob,PValue
0,5,0,0.0,1.0,0.0,50.0,34.940,0.000026,0
1,3,1,1.0,0.0,0.0,18.0,0.891,0.505625,0
2,66,1,0.0,1.0,0.0,5.0,0.330,0.593992,0
3,70,0,0.0,1.0,1.0,31.0,0.037,0.469851,0
4,96,1,0.0,1.0,0.0,30.0,0.038,0.638205,0

In [26]:
claimants.loc[claimants.pred_prob >= 0.5,"PValue"] = True
claimants.head()

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,pred_prob,PValue
0,5,0,0.0,1.0,0.0,50.0,34.940,0.000026,0
1,3,1,1.0,0.0,0.0,18.0,0.891,0.505625,True
2,66,1,0.0,1.0,0.0,5.0,0.330,0.593992,True
3,70,0,0.0,1.0,1.0,31.0,0.037,0.469851,0
4,96,1,0.0,1.0,0.0,30.0,0.038,0.638205,True

In [27]:
confusion_matrix = pd.crosstab(claimants['ATTORNEY'],claimants.PValue)
confusion_matrix

PValue      0  True
ATTORNEY
0         435   250
1         149   506

In [28]:
acc = (435+506)/(435+506+149+250)
acc
np.mean(claimants.ATTORNEY == claimants.PValue)

0.7022388059701492